.banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_subheading_top{
	font-size: 17px;
}
.banner_subheading{
    font-size: 25px;
	font-weight:300;
}
.banner_heading{
    font-size: 80px;
    font-weight: 800;
}
.seperator{
    width: 130px;
    height: 1px;
    background: black;
    margin: 15px 0px 5px 0px;
}

#caseStudyBanner{
    margin-top: 10vh !important;
    height: 50vh !important;
}
.caseStudySubheading{
	font-size: 17px !important;
}
@media (max-width:900px) {
	.banner_subheading{
		font-size: 15px;
		font-weight:300;
	}
	.banner_heading{
		font-size: 50px;
		font-weight: 800;
	}
}

.space{
	color:white;
	opacity:0;
}




/* floating text */

.floating_text{
	width:100vw !important;
	border:1px solid;
	position:absolute;
	top:-20%;
	left:0%;
	font-weight:900;
	z-index:-10;
	opacity:0.1;
	font-size:1000px;
}
@media (max-width:900px) {
	.floating_text{
		width:100vw !important;
		border:1px solid;
		position:absolute;
		top:-20%;
		left:0%;
		font-weight:900;
		z-index:-10;
		opacity:0.1;
		font-size:800px;
	}
}

