@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Bold.ttf') format("truetype"), url('../fonts/Poppins-ExtraBold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Thin.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --_hutt---primary: Poppins, Arial, sans-serif;
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --_hutt---white: white;
  --_hutt---text-gradient-white: white;
  --_hutt---text-gradient-grey: #999;
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--blue);
  --_hutt---text-gradient-black: black;
  --_hutt---text-gradient-dark-grey: #4b3535;
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --base-color-neutral--white: #fff;
  --_hutt---black: #000;
  --_hutt---brand-red: #ff4a23;
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --_hutt---bg-gradient-red: #ec2a00;
  --_hutt---bg-gradient-black: #150d0d;
  --_hutt---light-grey: #f4f4f4;
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-light: #ffaefe;
  --_hutt---light-grey-border: #ececec;
  --base-color-brand--pink: #dd23bb;
  --_hutt---test-secondary-dark-grey: #252525;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-neutral--black: #000;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  font-family: var(--_hutt---primary);
  margin-bottom: 0;
}

a {
  font-family: var(--_hutt---primary);
  color: var(--link-color--link-primary);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  font-family: var(--_hutt---primary);
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  font-family: var(--_hutt---primary);
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  background-image: radial-gradient(circle at 50% 140%, #ec2a00, #150d0d 92%);
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom, .margin-bottom.margin-xsmall, .margin-bottom.margin-xxlarge, .margin-bottom.margin-small {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top, .margin-top.margin-xxlarge, .margin-top.margin-medium {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  z-index: 1;
  font-family: var(--_hutt---primary);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
}

.heading-style-h3.text-color-white {
  color: var(--_hutt---white);
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-family: var(--_hutt---primary);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-style-h1.color-white-gradient {
  background-image: linear-gradient(45deg, var(--_hutt---text-gradient-white) 50%, var(--_hutt---text-gradient-grey));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-family: var(--_hutt---primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-family: var(--_hutt---primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-family: var(--_hutt---primary);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.heading-style-h2.color-gradient-black {
  background-image: linear-gradient(-45deg, var(--_hutt---text-gradient-black), var(--_hutt---text-gradient-dark-grey));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-style-h2.color-white {
  color: var(--_hutt---white);
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-family: var(--_hutt---primary);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: 3rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.button.w--current {
  justify-content: center;
  align-items: center;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.button.black-primary {
  justify-content: center;
  align-items: center;
}

.button.white-primary {
  background-color: var(--base-color-neutral--white);
  color: var(--_hutt---black);
  box-sizing: border-box;
}

.button.white-secondary {
  border: 2px solid var(--_hutt---white);
  color: var(--base-color-neutral--white);
  background-color: #0000;
}

.button.red-primary {
  background-color: var(--_hutt---brand-red);
  justify-content: center;
  align-items: center;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(circle at 0 100%, #2d62ff4d, #0000 50%), radial-gradient(circle at 100% 60%, #2d62ff4d, #1110 20%), radial-gradient(circle at 100% 100%, #d600c433, #0000 45%);
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
}

.section_hero.background-gradient {
  background-image: url('../images/Frame-10.png'), radial-gradient(circle farthest-corner at 50% 100%, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black) 74%);
  background-position: 50% 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: auto, auto;
  background-attachment: fixed, scroll;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  position: absolute;
  inset: 0% 0% auto;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

._404-title {
  background-image: linear-gradient(-45deg, var(--_hutt---text-gradient-grey), white);
  font-family: var(--_hutt---primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30vw;
}

.background-gradient {
  background-image: url('../images/Frame-10.png'), radial-gradient(circle farthest-corner at 50% 100%, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black) 74%);
  background-position: 50% 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-attachment: fixed, scroll;
}

.background-gradient.spaceholder {
  background-image: radial-gradient(circle farthest-corner at 50% 100%, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black) 74%);
  height: 100vh;
}

.section_nav {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #0000001f;
  border-radius: 4rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: .5rem .5rem .5rem 1.5rem;
  display: flex;
}

.code-embed {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.menu-button {
  margin-left: auto;
  padding: 0;
}

.menu_button {
  margin-left: auto;
}

.hero_wrap {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 210px;
  padding-bottom: 210px;
  display: flex;
}

.hero_title-wrap {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero_subtitle {
  color: var(--_hutt---white);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}

.hero_btn-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  display: flex;
}

.section_pains {
  background-color: var(--_hutt---white);
}

.pains_wrap {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.pains_grid {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.pains_card {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(#ffeded, #ffd0d0);
  border-radius: 2rem;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 243px;
  padding: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.pains_text {
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
}

.spacer-32 {
  padding-top: 2rem;
}

.spacer-80 {
  padding-top: 5rem;
}

.button-wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section_service.background-gradient.inverse {
  background-image: url('../images/Frame-10.png'), radial-gradient(circle farthest-corner at 50% 0%, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black) 74%);
  background-position: 50% 0, 0 0;
  background-size: cover, auto;
  background-attachment: fixed, scroll;
}

.service_wrap {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.service_grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.service_card {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: var(--_hutt---white);
  border-radius: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  display: flex;
}

.service_header {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  background-color: var(--_hutt---light-grey);
  border-radius: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  display: flex;
}

.service_header.inverse {
  background-color: var(--_hutt---brand-red);
}

.service_header-flex {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.service_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 1rem;
  display: flex;
}

.service_item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.service_list-text {
  line-height: 1.2;
}

.div-block {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.service_tag {
  color: var(--_hutt---white);
  background-color: #ffffff40;
  border-radius: 33px;
  padding: 4px 12px;
  font-size: 14px;
}

.platform_wrap {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.platform_grid {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.platform_card {
  background-color: var(--_hutt---white);
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: .5rem;
}

.platform_inner {
  background-image: linear-gradient(#f4f4f4, #fff2f2);
  border-radius: 20px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 180px;
  padding: 1rem;
  display: flex;
}

.spacer-48 {
  padding-top: 3rem;
}

.why_wrap {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.section_cta.background-gradient.inverse {
  background-image: radial-gradient(circle farthest-corner at 50% 0%, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black) 74%);
}

.cta_wrap {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
}

.why_grid {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.why-cell {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffff1a;
  border: 1px solid #ffffff1a;
  border-radius: 20px;
  min-height: 200px;
  padding: .5rem;
}

.why-cell_inner {
  background-image: linear-gradient(#fff, #dfd3d3);
  border-radius: 20px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
}

.why_texts {
  line-height: 1.2;
}

.faq_wrap {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.faq1_question {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  cursor: pointer;
  border-top: 1px solid #000;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
}

.button-2 {
  border: 1px solid var(--\<unknown\|relume-variable-neutral-shade-7\>);
  background-color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
  color: var(--\<unknown\|relume-variable-neutral-white\>);
  text-align: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button-2.is-secondary {
  background-color: var(--\<unknown\|relume-variable-transparent\>);
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.faq1_accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.text-size-medium-2 {
  font-size: 1.125rem;
}

.faq1_list {
  border-bottom: 1px solid #000;
}

.padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.button-group-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.button-group-2.is-center {
  justify-content: center;
}

.max-width-medium-2 {
  width: 100%;
  max-width: 35rem;
}

.heading-style-h2-2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.faq1_answer {
  overflow: hidden;
}

.icon-embed-small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.heading-style-h4-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.section_faq1 {
  background-color: var(--\<unknown\|relume-variable-color-scheme-1-background\>);
  color: var(--\<unknown\|relume-variable-color-scheme-1-text\>);
}

.padding-global-2 {
  padding-left: 5%;
  padding-right: 5%;
}

.faq1_icon-wrapper {
  align-self: flex-start;
  width: 2rem;
  display: flex;
}

.faq_head {
  font-family: var(--_hutt---primary);
  font-size: 20px;
  font-weight: 600;
}

.faq_para {
  font-weight: 400;
}

.section_footer.background-gradient.inverse {
  background-image: url('../images/Frame-10.png'), radial-gradient(circle farthest-corner at 50% 0%, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black) 74%);
  background-position: 50% 100%, 0 0;
  background-size: auto, auto;
}

.footer_wrap {
  padding-top: 7rem;
}

.footer_link-wrap {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
  display: flex;
}

.footer_link {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--_hutt---white);
  background-color: #ffffff0d;
  border: 1px solid #ffffff1a;
  border-radius: 4rem;
  padding: .5rem 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.form_wrap {
  background-color: #ffffff1a;
  border-radius: 20px;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

.form_inner {
  background-image: linear-gradient(#f4f4f4, #fff2f2);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 0;
  padding: 2rem;
}

.form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 2.5rem;
  display: grid;
}

.input_row {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.input_label {
  font-family: var(--_hutt---primary);
  font-weight: 400;
}

.text-span {
  color: var(--_hutt---brand-red);
}

.input {
  border: 1px solid #e9e9e9;
  border-radius: 1rem;
  height: 3rem;
  margin-bottom: 0;
}

.input.text-area {
  height: 6rem;
}

.div-block-2 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-span-2 {
  color: var(--_hutt---brand-red);
}

.pains_bg {
  z-index: 0;
  background-image: linear-gradient(180deg, var(--_hutt---bg-gradient-red), var(--_hutt---bg-gradient-black));
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: -4rem;
  left: -4rem;
}

.hero_pillar-wrap {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}

.hero_pillar {
  background-color: var(--_hutt---white);
  width: 100%;
}

.logo_grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.logo_marquee {
  display: flex;
  overflow: hidden;
}

.logo_set {
  flex-flow: row;
  display: flex;
}

.logo_container {
  border: 0px solid var(--_hutt---white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.logo {
  max-height: 60px;
}

.text-block {
  font-family: var(--_hutt---primary);
  color: #fff;
  font-size: 1.5rem;
}

.preloader_wrapper {
  z-index: 100;
  background-color: var(--_hutt---bg-gradient-black);
  mix-blend-mode: saturation;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1 {
    font-size: 5rem;
    line-height: 1;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .heading-style-h2 {
    font-size: 3rem;
  }

  .heading-style-h2.color-gradient-black.pains-title {
    padding-bottom: 2rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .hero_wrap {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .hero_subtitle {
    font-size: 1.5rem;
  }

  .pains_grid, .platform_grid, .why_grid {
    grid-template-columns: 1fr 1fr;
  }

  .padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .heading-style-h2-2 {
    font-size: 2.75rem;
  }

  .heading-style-h4-2 {
    font-size: 1.75rem;
  }

  .footer_link-wrap {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 3rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-weight: 700;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .hero_btn-wrap {
    padding-top: 2rem;
  }

  .pains_text {
    font-size: 16px;
  }

  .service_grid {
    grid-template-columns: 1fr;
  }

  .faq1_question {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .text-size-medium-2 {
    font-size: 1rem;
  }

  .padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h2-2 {
    font-size: 2.25rem;
  }

  .heading-style-h4-2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .faq1_icon-wrapper {
    width: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h2.color-gradient-black.platform-title {
    position: sticky;
    top: 7rem;
  }

  .button.white-primary.nav {
    display: none;
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .brand.w--current {
    margin-left: auto;
    padding-left: 0;
  }

  .hero_btn-wrap {
    flex-flow: column;
  }

  .pains_grid, .platform_grid {
    grid-template-columns: 1fr;
  }

  .platform_card {
    position: sticky;
    top: 7rem;
  }

  .platform_card.pc2 {
    top: 11rem;
  }

  .platform_card.pc3 {
    top: 15rem;
  }

  .platform_card.pc4 {
    top: 19rem;
  }

  .platform_card.pc5 {
    top: 23rem;
  }

  .platform_card.pc6 {
    top: 27rem;
  }

  .platform_card.pc7 {
    top: 31rem;
  }

  .cta_wrap {
    padding-top: 0;
  }

  .why_grid {
    grid-template-columns: 1fr;
  }

  .why-cell {
    position: sticky;
    top: 7rem;
  }

  .form_inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .pains_bg {
    top: -7rem;
  }
}

#w-node-_1fa7b147-e410-40c2-8b2d-18c7a9191eea-62a957d8, #w-node-fccf424e-38cb-49b2-fe32-5b9c5786ed1e-62a957d8, #w-node-_847ca874-cc82-a1ae-d161-d0a96cb71937-62a957d8, #w-node-a5d64c25-e262-40d7-1639-7f69500d8a7c-62a957d8, #w-node-_98401964-5613-022d-c32a-ffb475a1f681-62a957d8 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-62a957db {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-62a957db, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-62a957db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-62a957db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-62a957db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-62a957db {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-62a957db, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-62a957db {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-62a957db {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-62a957db, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-62a957db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-62a957db {
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-_1fa7b147-e410-40c2-8b2d-18c7a9191eea-62a957d8, #w-node-fccf424e-38cb-49b2-fe32-5b9c5786ed1e-62a957d8, #w-node-_847ca874-cc82-a1ae-d161-d0a96cb71937-62a957d8, #w-node-a5d64c25-e262-40d7-1639-7f69500d8a7c-62a957d8, #w-node-_98401964-5613-022d-c32a-ffb475a1f681-62a957d8 {
    grid-column: span 1 / span 1;
  }
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype'), url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}