.banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_subheading{
    font-size: 17px;
}
.banner_heading{
    font-size: 35px;
    font-weight: 800;
}
.seperator{
    width: 130px;
    height: 1px;
    background: black;
    margin: 15px 0px 5px 0px;
}

#caseStudyBanner{
    height: 50vh !important;
}