.navbar{
    /* border: 1px solid; */
    position: absolute;
    width: 100vw;
    top: 0%;
    background: white;
    padding: 60px 100px 30px 100px;
    box-sizing: border-box !important;
    position: fixed !important;
    z-index: 99999;
}
.navbar-brand_logo{
    width: 170px;
}
.navbar-collapse.collapse.show {
    height: 100vh;
}

.navbar-nav {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.nav-item{
    transition: 1s all ease;
}
.nav-link{
    font-size:34px;
    font-weight:900;
    margin: 0%;
    padding: 10px 0px 0px 0px;
    color: black !important;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler[aria-expanded="true"] #navLine1{
    margin: 0%;
    transform: rotateZ(45deg);
}
.navbar-toggler[aria-expanded="true"] #navLine2{
    margin: 0%;
    /* transform: rotateZ(-45deg); */
    transform: translateY(-2px) rotateZ(-45deg);
}
.navIcon{
    width: 60px;
    height: 2px;
    background: black;
    /* margin: 15px 0px; */
    transition: 0.1s all ease-out;
}
#navLine1{margin-bottom: 15px;}
#navLine2{margin-top: 15px;}


@media (max-width:900px){
    .navbar{
        padding: 30px;
        box-sizing: border-box !important;
    }
    .navbar-brand_logo{
        width: 150px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    /* .navbar-collapse {
        border-top: 1px solid transparent;
    } */
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* .collapse.in{
  		display:block !important;
	} */
    .navIcon{
        width: 30px;
    }
}





/* scroll bar */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}